/* @tailwind base; */

.m-auto {
  margin: auto;
}

.box-border {
  box-sizing: border-box;
}

.w-3\/5 {
  width: 60%;
}

.bg-teal-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(15 118 110 / var(--tw-bg-opacity));
}

.amincxo {
  border: 10px dashed black;
  border-radius: 20px;
  box-shadow: 5px 20px 20px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 640px) {
  .sm\:m-auto {
    margin: auto;
  }

  .sm\:w-3\/5 {
    width: 60%;
  }

  .sm\:bg-stone-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(120 113 108 / var(--tw-bg-opacity));
  }

  .sm\:amincxo {
    border: 10px dashed black;
    border-radius: 20px;
    box-shadow: 5px 20px 20px black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .md\:m-auto {
    margin: auto;
  }

  .md\:w-3\/5 {
    width: 60%;
  }

  .md\:bg-fuchsia-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(232 121 249 / var(--tw-bg-opacity));
  }

  .md\:amincxo {
    border: 10px dashed black;
    border-radius: 20px;
    box-shadow: 5px 20px 20px black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .lg\:m-auto {
    margin: auto;
  }

  .lg\:w-3\/5 {
    width: 60%;
  }

  .lg\:bg-amber-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(217 119 6 / var(--tw-bg-opacity));
  }
}

@media (min-width: 1280px) {
  .xl\:m-auto {
    margin: auto;
  }

  .xl\:w-3\/5 {
    width: 60%;
  }

  .xl\:bg-gray-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(75 85 99 / var(--tw-bg-opacity));
  }
}

@media (min-width: 1536px) {
  .\32xl\:m-auto {
    margin: auto;
  }

  .\32xl\:w-3\/4 {
    width: 75%;
  }

  .\32xl\:bg-rose-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(244 63 94 / var(--tw-bg-opacity));
  }
}